body {
}

.pariksh_Logo 
{
    width:20px;
    padding-top:5px;
}

.pariksha_slider 
{
    color:#6cc;font-size:20pt;
}

.hp-each-course
 {
   
 }
 
 .hp-each-course .content 
 {
    position: relative;
    text-align:center;  
    height: 170px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    text-decoration: none;
    background: url(../Parikshacrack_Image/course-bg-1.jpg) center no-repeat;
    background-size: cover;
    -webkit-transition: all .5s cubic-bezier(.165,.84,.44,1);
    -o-transition: all .5s cubic-bezier(.165,.84,.44,1);
    transition: all .5s cubic-bezier(.165,.84,.44,1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
  }

.hp-each-course .content .inner 
{
    display: inline-block;
    vertical-align: middle;
    width: 91%;   
    margin-top:30px; 
    color: #fff;
    z-index: 40;
}

.hp-each-course .content .inner h5 {
    margin: 6px 0;
    font-weight: 500;
    margin-bottom: 16px;
}

.hp-each-course .content .inner i 
{
  margin-left:20px;
  margin-bottom:10px;
}
.online1 
{
    color: #f66;
}